body {
    margin: 1rem;
    padding: 0;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;

    background-color: cornflowerblue;
    color: white;
}

details {
    user-select: none;
    max-width: 100vw;

    &[open] summary .marker::before {
        width: calc(var(--marker_size) - var(--inset_difference));
        height: calc(var(--marker_size) - var(--inset_difference));
    }

    summary {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;

        h1 {
            margin: 0 1rem;
            font-size: 1.25rem;
        }

        .marker {
            --marker_size: 1.25rem;
            --inset_difference: 0.35rem;

            position: relative;
            width: var(--marker_size);
            height: var(--marker_size);
            display: block;
            border-radius: 999px;
            background-color: white;
            margin-right: 1rem;

            &::before {
                content: "";
                position: absolute;
                display: block;
                top: calc(var(--inset_difference) / 2);
                left: calc(var(--inset_difference) / 2);
                width: 0;
                height: 0;
                border-radius: 999px;
                background-color: cornflowerblue;
            }
        }

        .status {
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 900;

            &.pass { color: rgb(0, 255, 0); }
            &.fail { color: rgb(255, 0, 0); }
            &.running { color: rgb(0, 0, 255); }
        }
    }

    pre {
        background: white;
        color: black;
        padding: 0.5rem 0.25rem;

        max-width: 100vw;
        overflow: hidden;
        white-space: pre-wrap;
        user-select: text;
    }
}
